<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/delete_article" method="post">
        <label for="password">비밀번호:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="article_id">게시글 ID:</label><br>
        <input type="text" id="article_id" name="article_id" required><br>
        <input type="submit" value="삭제">
    </form>
</body>
</html>